.title{
  font-size: 30px;  
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}
h3 span{
    font-size: 15px;
    color: black;
}

body{
    background-image: url("music-blue.jpg");
    background-size: cover;
}

.disk1{
    float: left;
}

.disk{
   width: 300px;
   border-radius: 200px;
}

.disk2{
    float: right;
}

#play{
    font-size: 30px;
    letter-spacing: 3px;
}

canvas{
    border: rgb(255, 255, 255)  3px solid;
    border-radius: 5px;
}